body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url("https://images.wallpaperscraft.ru/image/pirs_prichal_more_sumerki_bereg_118549_1600x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.column {
    position: relative;
    width: 272px;
    max-height: 80%;
    left: 20px;
    top: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    background: #DFE3E6;
    border-radius: 3px;
}

.scroll::-webkit-scrollbar {
    width: 0;
}

.scroll{
    overflow-y: scroll;
    align-self: stretch;
}

.column_title {
    padding-left: 10px;
    width: 105px;
    height: 19px;
    margin-bottom: 10px;
    align-self: flex-start;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;

    color: #000000;
}

.column form {
    align-self: flex-start;
}

.task {
    position: relative;
    height: 100%;
    margin: 0px 10px;

    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
}

.input_task {
    position: relative;
    width: 244px;
    height: 54px;
    margin-left: 10px;
    padding: 5px 10px;
    max-width: 85%;
    min-width: 85%;

    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
}

.input_task::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;

    color: #B8B9BB;
}

.add_button {
    position: relative;
    width: 152px;
    height: 30px;
    margin: 5px 10px 10px;

    background: #39C071;
    border-radius: 3px;
    border-style: none;
}

.task_text {
    position: relative;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin: 10px;
    top: 5px;

    color: #000000;
}

.button_font {
    position: relative;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    margin: 2px;

    color: #FFFFFF;
}

.show_button {
    position: relative;
    width: 196px;
    height: 19px;
    margin: 0px 0px 10px -5px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;

    color: #6B808C;
    background: none;
    border: none;
}

.svg-circleplus {
    height: 14px;
    stroke: #6B808C;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    margin-right: 0px;
}

.cancel {
    height: 14px;
    stroke: #6B808C;
}

.hide_button {
    position: relative;
    height: 14px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;

    color: #6B808C;
    background: none;
    border: none;
}


